.s-about-us {
  padding: 8rem 0;

  .welcome {
    @include flex(row, center, center);
    gap: 8rem;

    .title {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
      max-width: 50rem;

      h2 {
        text-align: center;
        color: $brand-dark-purple;
        margin-bottom: 1.6rem;
      }

      p {
        color: $neutral-colors-black;
      }
    }

    img {
      width: 380px;
      height: auto;
    }
  }
}
