.s-about-us {
  padding: 8rem 0;

  .container {
    position: relative;
  }

  .welcome {
    @include flex(row, center, space-between);
    gap: 3.2rem;

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      h2 {
        color: $brand-dark-purple;
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 18px;
        color: $neutral-colors-black;
      }
    }
    img {
      width: 100%;
    }
  }

  @include responsive(1024px) {
    .welcome {
      gap: 1.6rem;

      img {
        max-width: 512px;
      }
    }
  }

  @include responsive(768px) {
    .welcome {
      flex-direction: column-reverse;
      flex-wrap: wrap;

      img {
        max-width: 100%;
      }
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;
  }
}

.s-create-at {
  padding: 8rem 0;

  .container {
    @include flex(column, center, center);
  }

  .cards {
    margin-top: 0;
    @include flex(row, center, space-between);
    gap: 3.2rem;

    .card-item {
      @include flex(column, center, center);
      width: 100%;
      max-width: 374px;
      gap: 1.6rem;

      border-radius: 16px;
      border: 1px solid $brand-light-purple;
      box-shadow: 5px 12px 20.4px 0px rgba(25, 3, 65, 0.5);
      background-color: $neutral-colors-white;

      padding: 2.4rem;

      h3 {
        color: $brand-purple;
      }

      p {
        text-align: center;
        color: $brand-purple;
      }
    }
  }

  @include responsive(1024px) {
    .cards {
      @include flex(row, center, center);
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;

    .cards {
      @include flex(row, flex-start, center);
    }
  }
}

.s-partner {
  padding: 8rem 0;

  .container {
    position: relative;
    @include flex(column, center, center);
    gap: 2.4rem;
  }

  .vertical {
    width: 100%;
    @include flex(row, center, center);
    gap: 2.4rem;

    .text-vertical {
      width: 100%;

      h3 {
        @include flex(column, flex-start, flex-start);
        color: $brand-dark-purple;
        margin-bottom: 2.4rem;

        &::after {
          content: "";
          display: inline-block;
          width: 180px;
          height: 2px;
          background-color: $brand-dark-purple;
          margin-top: 1.6rem;
        }
      }

      ul {
        @include flex(column, flex-start, flex-start);
        gap: 4.8rem;
        li {
          width: 100%;
          max-width: 500px;
          span {
            display: inline-block;
            font-size: 20px;
            color: $brand-purple;
            margin-bottom: 1.2rem;
          }

          p {
            font-size: 18px;
            color: $neutral-colors-black;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .horizontal {
    width: 100%;
    @include flex(row, center, flex-start);
    gap: 2.4rem;

    ul {
      @include flex(row, flex-start, flex-start);
      gap: 2.4rem;
      li {
        width: 100%;
        max-width: 507px;
        span {
          display: inline-block;
          font-size: 20px;
          color: $brand-purple;
          margin-bottom: 1.2rem;
        }

        p {
          font-size: 18px;
          color: $neutral-colors-black;
          opacity: 0.8;
        }
      }
    }
  }

  @include responsive(1024px) {
    .vertical {
      img {
        max-width: 485px;
      }
    }
  }

  @include responsive(768px) {
    .vertical {
      margin-bottom: 2.4rem;
      img {
        width: 380px;
      }
    }
    .horizontal {
      ul {
        gap: 7.4rem;
      }
    }
  }

  @include responsive(640px) {
    .vertical {
      flex-wrap: wrap;
    }

    .horizontal {
      flex-wrap: wrap;
    }
  }

  @include responsive(480px) {
    padding: 4rem 0;
    .horizontal {
      ul {
        gap: 1.6rem;
      }
    }
  }
}
