.footer {
  background-color: #323c98;
  padding: 8rem 0 4rem 0;

  .footer-top {
    @include flex(row, flex-start, space-between);
    gap: 3.2rem;
    margin-bottom: 4rem;

    .footer-logo-social {
      @include flex(column, center, center);
      margin-bottom: 2rem;
      h4 {
        margin-bottom: 3.2rem;
        color: $neutral-colors-white;
      }
      .logo {
        max-width: 150px;
        margin-bottom: 2.4rem;
      }
      .social-icons {
        @include flex(row, center, center);
        gap: 3.2rem;
      }
    }

    .link-section {
      h4 {
        margin-bottom: 3.2rem;
        color: $neutral-colors-white;
      }
      ul {
        li {
          margin-bottom: 1.2rem;
          a {
            font-size: 1.6rem;
            color: $neutral-colors-gray;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-center {
    @include flex(row, center, flex-end);

    .imgs {
      @include flex(row, center, center);
      gap: 8rem;

      .img-powered {
        @include flex(row, flex-start, center);
        gap: 0.8rem;
        img {
          width: 100px;
        }
        span {
          display: inline-block;
          width: 100%;
          max-width: 75px;
          font-size: 18px;
          font-weight: 600;
          color: $neutral-colors-white;
        }
      }

      .img-aws {
        @include flex(column, center, center);
        gap: 1.6rem;
        img {
          width: 100px;
        }
        span {
          display: inline-block;
          width: 100%;
          max-width: 75px;
          font-size: 16px;
          font-weight: 600;
          color: $neutral-colors-white;
        }
      }
    }
  }

  .footer-bottom {
    @include flex(column, center, center);
    gap: 3.2rem;
    margin-top: 4.8rem;
    padding-top: 2rem;
    border-top: 1px solid $neutral-colors-gray;

    img {
      width: 100%;
      max-width: 300px;
    }

    span {
      font-size: 18px;
      font-weight: 400;
      color: $neutral-colors-gray;
    }
  }

  @include responsive(768px) {
    .footer-top {
      justify-content: center;
      gap: 4.8rem;
      flex-wrap: wrap;

      h2 {
        width: 100%;
        max-width: 45rem;
      }
    }

    .footer-center {
      justify-content: center;
    }
  }
}
