.s-social {
  @include flex(column, center, center);
  position: fixed;
  top: 40%;
  right: 0;
  padding: 3.2rem 1.2rem;
  border-radius: 20px 0 0 20px;
  background-color: $brand-purple;
  z-index: 50;

  .social-media {
    @include flex(column, center, center);
    gap: 2.4rem;

    a {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.s-hero {
  padding: 11.2rem 0;
  .container {
    position: relative;
    @include flex(row, flex-start, space-between);

    .content {
      @include flex(column, flex-start, flex-start);
      gap: 4rem;

      .text-hero {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        max-width: 60rem;
        gap: 2.4rem;

        .tag {
          font-size: 1.6rem;
          font-weight: 300;
          letter-spacing: 0.3rem;
          color: $neutral-colors-white;
          background-color: $brand-light-purple;
          padding: 0.8rem 2.4rem;
          border-radius: 50px;
        }

        h1 {
          span {
            color: $brand-purple;
          }
        }

        .bullets {
          ul {
            @include flex(column, flex-start, flex-start);
            gap: 1.2rem;

            li {
              @include flex(row, center, center);
              gap: 0.8rem;
              &::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: $brand-purple;
              }
            }
          }
        }
      }

      .btns {
        @include flex(row, center, flex-start);
        gap: 2.4rem;
      }
    }

    .img-hero {
      @include flex(row, flex-start, flex-end);
      gap: 2.4rem;

      img {
        width: 100%;
        max-width: 250px;
        height: auto;

        &.img-hero-2 {
          position: relative;
          top: -80px;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    .h-circle-lg {
      position: absolute;
      top: -500px;
      left: -27%;
      z-index: -1;
    }

    .h-element-x-left {
      position: absolute;
      top: -80px;
      left: 32%;
      z-index: -1;
    }

    .h-disc-purple-sm {
      position: absolute;
      top: 20px;
      left: 38%;
      z-index: -1;
    }

    .h-element-x-purple {
      position: absolute;
      top: 235px;
      left: 42%;
      z-index: -1;
    }

    .h-bullets-group-vertical {
      position: absolute;
      top: -20px;
      left: 52%;
      z-index: -1;
    }

    .h-line-circle-purple {
      position: absolute;
      top: 260px;
      left: 50.5%;
      z-index: -1;
    }

    .h-element-x-right {
      position: absolute;
      top: -100px;
      left: 70%;
      z-index: -1;
    }

    .h-bullets-group-horizontal {
      position: absolute;
      bottom: -30px;
      right: 0;
      z-index: -1;
    }

    .h-disc-purple-lg {
      position: absolute;
      bottom: -200px;
      right: -15%;
      z-index: -1;
    }

    .h-line-lg {
      position: absolute;
      bottom: -100px;
      left: 0;
      z-index: -1;
    }

    .h-3d-fluency-wordpress {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 400px;
      left: 42%;
      z-index: -1;
    }

    .h-aws {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 400px;
      left: 35%;
      z-index: -1;
    }
  }
}

.s-prices {
  padding: 11.2rem 0;

  .container {
    position: relative;
  }

  .text-price {
    @include flex(column, center, center);

    h2 {
      color: $brand-dark-purple;
    }
  }

  .cards {
    margin-top: 8rem;
    @include flex(row, flex-start, space-between);

    .card {
      width: 100%;
      max-width: 384px;
      @include flex(column, center, center);
      gap: 1.6rem;
      padding: 2.4rem 3.2rem;
      flex-wrap: wrap;
      border-radius: 40px;
      box-shadow: 5px 12px 20.4px 0px rgba(0, 0, 0, 0.8);
      background-color: $neutral-colors-white;
      z-index: 4;

      .imgs-price {
        @include flex(row, center, center);
        gap: 0.8rem;
      }

      .penta {
        width: 132px;
        height: auto;
      }

      .card-header {
        @include flex(column, center, flex-start);
        gap: 1.6rem;

        .price {
          display: flex;
          align-items: flex-start;
          gap: 0.8rem;
          line-height: 1;

          .currency {
            font-size: 14px;
          }

          .amount {
            font-size: 64px;
            font-weight: 500;
            line-height: 80%;
          }

          .bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;

            .cents {
              font-size: 14px;
            }

            .per-month {
              font-size: 12px;
            }
          }
        }
      }

      .card-body {
        ul {
          @include flex(column, flex-start, center);
          gap: 1.6rem;

          li {
            @include flex(row, center, center);
            gap: 0.8rem;

            p {
              color: $neutral-colors-black;
              font-weight: 500;
            }
          }
        }
      }

      .btn-primary {
        margin-top: 1.6rem;
      }
    }
  }

  .price-circle-lg {
    position: absolute;
    top: 10%;
    left: -50%;
    z-index: -1;
  }

  .price-bullets-group-horizontal-1 {
    position: absolute;
    top: 15%;
    left: -8%;
    z-index: 5;
  }

  .price-bullets-group-horizontal-2 {
    position: absolute;
    bottom: 0%;
    left: -8%;
    z-index: -1;
  }

  .price-bullets-group-horizontal-3 {
    position: absolute;
    top: 25%;
    right: -8%;
    z-index: 5;
  }

  .price-bullets-group-horizontal-4 {
    position: absolute;
    bottom: 5%;
    right: 28%;
    z-index: 5;
  }

  .price-element-x-1 {
    position: absolute;
    top: 24%;
    left: 4%;
    z-index: 5;
  }

  .price-element-x-2 {
    position: absolute;
    top: 25%;
    right: -8%;
    z-index: -1;
  }

  .price-element-x-3 {
    position: absolute;
    bottom: -10%;
    right: 38%;
    z-index: 5;
  }

  .price-disc-purple-lg {
    position: absolute;
    bottom: 14%;
    right: -22%;
    z-index: -1;
  }
}
