.s-hero-hosting-ssd {
  padding: 8rem 0;
  .container {
    position: relative;
    @include flex(column, center, center);
  }

  .title-hero {
    @include flex(column, center, center);
    gap: 1.2rem;

    h2 {
      text-align: center;
      color: $brand-dark-purple;
    }

    p {
      text-align: center;
      font-size: 2.4rem;
    }
  }

  .cards {
    @include flex(row, stretch, center);
  }

  .text-price-hero {
    @include flex(column, flex-start, center);
    h3 {
      margin-bottom: 2.4rem;
    }
    ul {
      @include flex(column, flex-start, flex-start);
      gap: 1.6rem;
      li {
        @include flex(row, center, flex-start);
        gap: 0.8rem;

        p {
          color: $neutral-colors-black;
          opacity: 0.8;
          font-size: 1.8rem;
        }
      }
    }
  }

  @include responsive(768px) {
    .text-price-hero {
      @include flex(column, center, flex-start);
    }
  }
}

.s-security-hosting {
  padding: 8rem 0;
  .container {
    position: relative;
    @include flex(row, center, space-between);
    gap: 2.4rem;
  }

  .img-security-hosting {
    border-radius: 16px;
    box-shadow: 100px 81px 36px 0 rgba(111, 103, 212, 0),
      64px 52px 33px 0 rgba(111, 103, 212, 0.02),
      36px 29px 28px 0 rgba(111, 103, 212, 0.08),
      16px 13px 21px 0 rgba(111, 103, 212, 0.13),
      4px 3px 11px 0 rgba(111, 103, 212, 0.15);
  }

  .text-security {
    @include flex(column, flex-start, center);
    width: 100%;
    gap: 2.4rem;
    flex-wrap: wrap;

    h2 {
      @include flex(column, flex-start, center);
      color: $brand-dark-purple;

      &::after {
        content: "";
        display: inline-block;
        width: 180px;
        height: 2px;
        background-color: $brand-dark-purple;
        margin-top: 1.6rem;
      }
    }

    p {
      width: 100%;
      font-size: 18px;
      color: $gray-300;
    }

    .security-bullets {
      @include flex(column, flex-start, center);
      gap: 1rem;

      li {
        width: 90%;
        @include flex(row, flex-start, flex-start);
        gap: 0.8rem;
        p {
          font-size: 1.6rem;
          color: $gray-300;
          font-weight: 500;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50px;
          background-color: $brand-purple;
          margin-top: 6px;
        }
      }
    }
  }

  @include responsive(768px) {
    .container {
      @include flex(column, center, space-between);
    }

    .text-security {
      @include flex(column, center, center);

      h2 {
        @include flex(column, center, center);
        text-align: center;

        &::after {
          content: "";
          display: inline-block;
          width: 180px;
          height: 2px;
          background-color: $brand-dark-purple;
          margin-top: 1.6rem;
        }
      }

      p {
        text-align: center;
        width: 100%;
        max-width: 60rem;
        font-size: 24px;
        color: $gray-300;
      }

      .security-bullets {
        li {
          p {
            text-align: start;
          }
        }
      }
    }
  }
}
