.s-social {
  @include flex(column, center, center);
  position: fixed;
  top: 40%;
  right: 0;
  padding: 3.2rem 1.2rem;
  border-radius: 20px 0 0 20px;
  background-color: $brand-purple;
  z-index: 50;

  .social-media {
    @include flex(column, center, center);
    gap: 2.4rem;

    a {
      img {
        width: 3.2rem;
        height: auto;
      }
    }
  }

  @include responsive(640px) {
    .social-media {
      a {
        img {
          width: 2.8rem;
        }
      }
    }
  }
}

.btn-primary {
  @include flex(row, center, center);
  gap: 1.2rem;
  background-color: $neutral-colors-black;
  border: 1px solid $neutral-colors-black;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  span {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray-100;
  }
  img {
    width: 100%;
    max-width: 2rem;
    height: auto;
  }

  &:hover {
    background-color: $brand-purple;
    border: 1px solid $brand-purple;
    span {
      color: $neutral-colors-white;
    }
  }
}

.btn-secondary {
  background-color: $neutral-colors-white;
  border: 1px solid $neutral-colors-black;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  span {
    font-size: 1.6rem;
    font-weight: 500;
    color: $neutral-colors-black;
  }

  &:hover {
    background-color: $neutral-colors-black;
    border: 1px solid $neutral-colors-black;
    span {
      color: $neutral-colors-white;
    }
  }
}

.element {
  position: absolute;

  @include responsive(640px) {
    display: none;
  }
}

.cards {
  width: 100%;
  margin-top: 8rem;
  @include flex(row, stretch, space-between);
  gap: 3.2rem;
  flex-wrap: wrap;

  .card {
    flex: 1 1 320px;
    max-width: 384px;
    @include flex(column, center, flex-start);
    gap: 1.6rem;
    flex: 1;
    padding: 2.4rem 3.2rem;

    border-radius: 20px;
    box-shadow: 5px 12px 20.4px 0px rgba(0, 0, 0, 0.8);
    background-color: $neutral-colors-white;
    z-index: 4;

    .imgs-price {
      @include flex(row, center, center);
      gap: 0.8rem;
    }

    .penta {
      width: 132px;
      height: auto;
    }

    .card-header {
      @include flex(column, center, flex-start);
      gap: 1.6rem;

      h4 {
        text-align: center;
      }

      .price {
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;
        line-height: 1;

        .currency {
          font-size: 14px;
        }

        .amount {
          font-size: 64px;
          font-weight: 500;
          line-height: 80%;
        }

        .bottom {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;

          .cents {
            font-size: 14px;
          }

          .per-month {
            font-size: 12px;
          }
        }
      }
    }

    .card-body {
      ul {
        @include flex(column, flex-start, center);
        gap: 1.6rem;

        li {
          @include flex(row, center, center);
          gap: 0.8rem;

          p {
            color: $neutral-colors-black;
            font-weight: 400;
          }
        }
      }
    }

    .btn-primary {
      margin-top: 1.6rem;
    }
  }
}

@include responsive(768px) {
  .cards {
    margin-top: 5.6rem;
    @include flex(row, flex-start, center);
  }
}

.logo-marquee {
  overflow: hidden;
  padding: 12rem 0 4rem 0;
  background: transparent;

  &__track {
    width: 60%;
    display: flex;
    animation: scroll 40s linear infinite;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 15.6rem; // espaçamento entre logos
    min-width: 100vw;

    img {
      height: 48px;
      width: auto;
      transition: opacity 0.3s ease;
    }
  }

  @include responsive(768px) {
    &__track {
      width: 40%;
      animation: scroll 20s linear infinite;
    }
    &__group {
      gap: 8rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}
