.btn-primary {
  @include flex(row, center, center);
  gap: 1.2rem;
  background-color: $neutral-colors-black;
  border: 1px solid $neutral-colors-black;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  span {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray-100;
  }
  img {
    width: 100%;
    max-width: 2rem;
    height: auto;
  }

  &:hover {
    background-color: $brand-purple;
    border: 1px solid $brand-purple;
    span {
      color: $neutral-colors-white;
    }
  }
}

.btn-secondary {
  background-color: $neutral-colors-white;
  border: 1px solid $neutral-colors-black;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  span {
    font-size: 1.6rem;
    font-weight: 500;
    color: $neutral-colors-black;
  }

  &:hover {
    background-color: $neutral-colors-black;
    border: 1px solid $neutral-colors-black;
    span {
      color: $neutral-colors-white;
    }
  }
}
